<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        }

        body {
        position: relative;
        width: 90%;
        height: 100%;
        font-size: 1em;
        /* currently ems cause chrome bug misinterpreting rems on body element */
        line-height: 1.5;
        font-weight: 400;
        font-family: "Open Sans",Arial,Helvetica,sans-serif;
        color: #1C2E3D;
        background-color: #FFF;
        background-size: cover;
        margin: 0px;
        padding: 10px 5%;
        }

        #content-container {
        width: 100%;
        height:100%;
        }

        #title-container {
        width:100%;
        text-align: center;
        border:1px solid red;
        }
        #title {
        text-align: center;
        font-size: 16px;
        }

        #image-container {
        width:100%;
        text-align: center;
        border:1px solid blue;
        }

        #main-cta-container {
        text-align: center;
        border:1px solid green;
        }
    </style>
</head>
<body>
<div id="content-container">
    <div id="title-container">
        <span id="title">{{title}}</span>
    </div>

    <div id="image-container">
        <img src="{{main-image}}">
    </div>

    <div id="main-cta-container">
        <button id="{{main-cta-id}}">{{main-cta-text}}</button>
    </div>
</div>
</body>
</html>
