.button-group{
    display: inline-block;

    .button{
        border-left: 1px solid $input_element_border;
        border-radius: 0;
        position: relative;
        float: left;
        background-color: $grp_btn_bg;
        color: $font_color;
        min-width: 20px;

        &.is-button-selected{
            background-color: $grp_selected_btn_bg;
            color: $btn_color;
            border: none;

            &+.button{
                border: none;
            }
        }
    }

    & > .button:nth-of-type(1){
        border-radius: $button_border_radius 0 0 $button_border_radius;
        border-left: none;
    }

    & > .button:nth-last-of-type(1){
        border-radius: 0 $button_border_radius $button_border_radius 0;
        border-right: none;
    }
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    .button-icon{
        padding-right: $button_icon_padding_right;
    }

    &.button-primary {
        background-color: $primary_btn_bg;
        border-color: $primary_btn_bg;

        &:hover, &:focus{
            background-color: rgba($primary_btn_bg, 0.9);
            border-color: rgba($primary_btn_bg, 0.9);
        }
    }

    &.button-secondary {
        background-color: $secondary_btn_bg;
        border-color: $secondary_btn_bg;

        &:hover, &:focus{
            background-color: rgba($secondary_btn_bg, 0.9);
            border-color: rgba($secondary_btn_bg, 0.9);
        }
    }

    &.button-tertiary {
        background-color: $tertiary_btn_bg;
        border-color: $tertiary_btn_bg;

        &:hover, &:focus{
            background-color: rgba($tertiary_btn_bg, 0.9);
            border-color: rgba($tertiary_btn_bg, 0.9);
        }
    }

    &.button-disabled {
        background-color: $disabed_btn_bg;
        border-color: $disabed_btn_bg;
        cursor: not-allowed;

        &:hover, &:focus{
            background-color: rgba($disabed_btn_bg, 0.9);
            border-color: rgba($disabed_btn_bg, 0.9);
        }
    }

    &.button-ghost {
        background-color: transparent;
        border: 1px solid $bg;

        &:hover, &:focus{
            background-color: rgba($bg, 0.1);
        }
    }

    &.button-primary-ghost {
        background-color: transparent;
        border: 1px solid $primary_btn_bg;
        color: $primary_btn_bg;

        &:hover, &:focus{
            background-color: $primary_btn_bg;
            color: $btn_color;
        }
    }

    &.button-link {
        background-color: transparent;
        border: none;
        padding: 0;
        min-width: 1px;

        &:hover, &:focus{
            text-decoration: underline;
        }

        &.button-primary-link {
            color: $primary_btn_bg;

            &:hover, &:focus{
                color: rgba($primary_btn_bg, 0.9);
            }
        }

        &.button-secondary-link {
            color: $secondary_btn_bg;

            &:hover, &:focus{
                color: rgba($secondary_btn_bg, 0.9);
            }
        }
    }

    i{
        display: inline-block;
        position: relative;
    }

    &:hover{
        .ae_add{
            @include transform(scale(1.2));
        }
    }
}

a.button{
    &.button-primary-ghost{
        line-height: 22px;
        padding: 0 $universal_padding;
    }
}

button i, .button i, button span, .button span{
    vertical-align: middle;
}

button i, .button i{
    margin-right: $button_icon_padding_right;
    vertical-align: -1px;
}