/* Set default  styles */
@import 'buttons/buttons_functions';

/* Set default  styles */
@import 'buttons/buttons_mixins';

/* –––––––––––––––––––––––––– Buttons –––––––––––––––––––––––– */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 0 $universal_padding;
  min-width: 90px;
  height: $button_ht;
  //line-height: $button_ht;
  color: $btn_color;
  text-align: center;
  font-size: $button_medium_font;
  font-weight: 400;
  font-family: #{$font_family};
  text-decoration: none;
  white-space: nowrap;
  background-color: $primary_btn_bg;
  border-radius: $button_border_radius;
  border: transparent;
  cursor: pointer;
}

/*a.button{
  padding: 0.5em 1em;
}*/

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: $btn_color;
  background-color: rgba($primary_btn_bg, 0.9);
  border-color: rgba($primary_btn_bg, 0.9);
  border-color: transparent;
  outline: 0; 
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.button.button-large,
button.button-large,
input[type="submit"].button-large,
input[type="reset"].button-large,
input[type="button"].button-large {
  font-size: $button_large_font;
  height: $button_large_ht;
  line-height: 22px;
}

a.button.button-large{
  padding: $universal_padding/2 $universal_padding;
}

.button.button-medium,
button.button-medium,
input[type="submit"].button-medium,
input[type="reset"].button-medium,
input[type="button"].button-medium {
  font-size: $button_medium_font;
  height: $button_medium_ht;
  //line-height: $button_medium_ht;
}

a.button.button-medium{
  padding: $universal_padding/2 $universal_padding;
}

.button.button-small,
button.button-small,
input[type="submit"].button-small,
input[type="reset"].button-small,
input[type="button"].button-small {
  font-size: $button_small_font;
  height: $button_small_ht;
  //line-height: $button_small_ht;
}

a.button.button-small{
  padding: $universal_padding/2 $universal_padding;
}

.button.button-xsmall,
button.button-xsmall,
input[type="submit"].button-xsmall,
input[type="reset"].button-xsmall,
input[type="button"].button-xsmall {
  font-size: $button_xsmall_font;
  height: $button_xsmall_ht;
  //line-height: $button_small_ht;
}

a.button.button-xsmall{
  padding: $universal_padding/2 $universal_padding;
}

/* Set default  styles */
@import 'buttons/buttons_extend';

/* Set default  styles */
@import 'buttons/buttons_responsive';
