@media only screen{
	
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 321px) and (max-device-width : 736px) and (orientation : landscape) {
  
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) and (orientation : portrait) {
  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width : 1025px) and (max-device-width : 1600px) {
  
}

/* Large screens ----------- */
@media only screen and (min-device-width : 1601px) {
  
}