/*  Vertical gradient
========================================================================== */
@mixin simple-vertical-gradient($startColor, $endColor) {
  background-color: $startColor;
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  background:         linear-gradient(to bottom, $startColor, $endColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$startColor}', EndColorStr='#{$endColor}');
}

@mixin vertical-gradient($bgColor, $color1, $color2, $start) {
    background: -moz-linear-gradient(top,  $color1 $start, $color2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop($start,$color1), color-stop(100%, $color2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $color1 $start, $color2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color1 $start, $color2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color1 $start, $color2 100%); /* IE10+ */
    background: linear-gradient(to bottom, $color1 $start, $color2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

/*  Horizontal Gradient
========================================================================== */
@mixin simple-horizontal-gradient($startColor, $endColor) {
  background-color: $startColor;
  background: -webkit-linear-gradient(left, $startColor, $endColor);
  background:         linear-gradient(to right, $startColor, $endColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#{$startColor}', EndColorStr='#{$endColor}');
}

@mixin horizontal-gradient($bgColor, $colors...) {
  background: -webkit-linear-gradient(left, $colors) $bgColor;
  background:         linear-gradient(to right, $colors) $bgColor;
}