@import 'color_functions';

$primary_color: #444;
$primary_bg: #FFF;
$primary_border_color: #ddd;

$secondary_bg: #eee;

$input_bg: #FFF;
$input_border: #D1D1D1;
$input_focus_border: #33C3F0;

$basic_button_bg: #5D5C5D;
$basic_button_font: #FFF;
$basic_button_highlight_bg: #373737;
$basic_button_highlight_border: #373737;

$primary_button_bg: #3968C6;
$primary_button_font: #FFF;
$primary_button_border: #3968C6;
$primary_button_highlight_bg: #3968C6;
$primary_button_highlight_border: #3968C6;

$menu_header_footer_bg: #182028;
$app_level_bg: #232C38;//#26313E;
$menu_item_bg: #283341;
$menu_bg: #313E4E;
$menu_selected_bg: #4A90E2;
$wa_header_footer_bg: #EAEAEA;
$wa_show_hide_menu_color: #586A77;
$wa_icon_color: #B1B9C1;

$breadcrumb_active_color: #4A90E2;

$basic: #F6F6F6;
$bg: #FFF;
$font_color: #1C2E3D;
$border_color: $basic;

$light_inactive_color: #bbb;
$light_active_color: #fff;

$error_color: #CF3F3F;    //red
$success_color: #6EAB16;   //green
$debug_color: #EBA820;   //orange

$error_msg_color: #E33F3F;  //red
$success_msg_color: #1CA753;  //green
$info_msg_color: #3E85E8;  //blue
$warning_msg_color: #EBA820;  //yellow
$msg_border_color: #EDEDED;

$dark_inactive_color: #999;
$dark_active_color: #6DB445;

$btn_color: #fff;
$primary_btn_bg: #4A90E2;   //blue
$secondary_btn_bg: #32404A;     //dark grey
$tertiary_btn_bg: #6DB445;    //green
$disabed_btn_bg: #D5D6D7;     //light grey

$grp_btn_bg: #F3F3F3;
$grp_selected_btn_bg: #6699C8;

$separator: #D8D8D8;
$input_element_border: #D2D2D2;
$input_element_focus_border: #B5C8D5;
$input_element_color: #888;
$input_element_bg: #fff;

$search_element_bg: #3D4C5F;
$select_element_primary_bg: #7094C4;
$select_element_secondary_bg: #999;
$select_arrow: #626E76;
$select_active_bg: #4A90E2;

$add_icon_color: #7ED321;
$delete_icon_color: #758189;
$selected_icon_color: #4A90E2;
$icon_color: #bbb;

$active_bg: #6DB445;   //green
$inactive_bg: #D8D8D8;   //grey

$ribbon_bg: #516676;
$tag_bg: #F9F9F9;
$tag_color: #888;

$tooltip_bg: #fff;
$tooltip_border: #ddd;

$list_filters_bg: #313E4E;

$collapsible_section_color: #999;

$tab_bg: #EAEAEA;
$tab_bg_selected: #5C718F;
$tab_color_selected: #FFF;

$link_color: #fff;

$overlayColor: color(0, 0, 0, 0.7);

$variant_original_bg: #9BD16A;
$variant1_color: #6AD18C;
$variant2_color: #3DC2DD;
$variant3_color: #7F63CD;
$variant4_color: #EEB211;
$variant5_color: #F56502;

$preview_bg: #101518;

$option_list_add_icon_color: #c6e19a;
$option_list_dashed_link_color: #B5C8D5;

@import 'color_mixins';
