.lte9{
  $gutter: 0%;
  $column_width: (100% - ($gutter * ($columns - 1))) / $columns;
  @include get_grid($columns, $column_width, $gutter);
  .grid-#{$columns}.fixed-width{
    max-width: 960px;
  }
}

@media only screen{
  $gutter: 0%;
  $column_width: (100% - ($gutter * ($columns - 1))) / $columns;
  @include get_grid($columns, $column_width, $gutter);
  .grid-#{$columns}.fixed-width{
    max-width: 960px;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  $gutter: 0%;
  $column_width: (100% - ($gutter * ($columns - 1))) / $columns;
  @include get_responsive_grid($columns, $column_width, $gutter);
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 321px) and (max-device-width : 736px) and (orientation : landscape) {
  .grid-#{$columns}.fixed-width{
    max-width: 480px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) and (orientation : portrait) {
  .grid-#{$columns}.fixed-width{
    max-width: 320px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  $gutter: 0%;
  $column_width: (100% - ($gutter * ($columns - 1))) / $columns;
  @include get_sm_col($columns, $column_width, $gutter);

  .grid-#{$columns}.fixed-width{
    max-width: 768px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width : 1025px) and (max-device-width : 1600px) {
  $gutter: 0%;
  $column_width: (100% - ($gutter * ($columns - 1))) / $columns;
  @include get_md_col($columns, $column_width, $gutter);

  .grid-#{$columns}.fixed-width{
    max-width: 960px;
  }
}

/* Large screens ----------- */
@media only screen and (min-device-width : 1601px) {
  $gutter: 0%;
  $column_width: (100% - ($gutter * ($columns - 1))) / $columns;
  @include get_lg_col($columns, $column_width, $gutter);

  .grid-#{$columns}.fixed-width{
    max-width: 960px;
  }
}