/*@mixin get_column_width($num) {
	width: ($column_width * $num) + ($gutter * ($num - 1));
}*/
 
@mixin get_sub_columns($num_child, $num_parent) {
	$parent_size: ($column_width * $num_parent) + ($gutter * ($num_parent - 1));
	$child_size: ($column_width * $num_child) + ($gutter * ($num_child - 1));
	margin-left: ($gutter / $parent_size) * 100%;
	width: ($child_size / $parent_size) * 100%;
}

@mixin allColumnStyles($gut) {
    position: relative;
    float: left;
    box-sizing: border-box;
    margin-left: $gut;
    padding: 10px;
}

@mixin get_grid($cols, $col_width, $gut) {
	.grid-#{$cols}{
		position: relative;
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;

		.row {
			float: left;
			position: relative;
			width: 100%;
			margin-bottom: $gut;

			&.col{
				margin-bottom: 0;
				padding: 0;
                display: inline-block;
			}
		}

		.col {
            @include allColumnStyles($gut);
		}

		@for $i from 1 through $cols {
			.col-#{$i} {
                @include allColumnStyles($gut);
                width: get_column_width($i, $col_width, $gut);
			}
		}

		@for $j from 1 through $cols - 1 {
		    .row [class*="col-"]:first-child.off-#{$j} {
		         margin-left: ((100% - ($cols/$j - 1) * $gut) / $cols * $j) + $gut;
		    }
		    .row [class*="col-"].off-#{$j} {
		         margin-left: ((100% - ($cols/$j - 1) * $gut) / $cols * $j) + 2*$gut;
		    }
		}

		.col-#{$cols},
        > :first-child,
		.row > :first-child{
			margin-left: 0;
		}

		&:after{
			content: "";
			display: table;
			clear: both;
		}
	}
}

@mixin allColumnResponsiveStyles() {
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
}

@mixin get_responsive_grid($cols, $col_width, $gut) {
	.grid-#{$cols}{
		.row {
			margin-bottom: 0;

			& [class*="col-"][class*="off-"], & [class*="col-"]:first-child[class*="off-"]{
				margin-left: 0;
			}
		}

		.col {
            @include allColumnResponsiveStyles;
		}

		@for $i from 1 through $cols {
			.col-#{$i} {
                @include allColumnResponsiveStyles;
			}
		}

        @include get_xs_col($columns, $col_width, $gut);
	}
}

/*------mobile screens------*/
@mixin get_xs_col($cols, $col_width, $gut){
    @for $i from 1 through $cols {
        .col-xs-#{$i} {
            width: get_column_width($i, $col_width, $gut);
        }
    }

    .col-xs-none{
        display: none;
    }
}

/*------tablet screens------*/
@mixin get_sm_col($cols, $col_width, $gut){
  @for $i from 1 through $cols {
    .col-sm-#{$i} {
      width: get_column_width($i, $col_width, $gut);
    }
  }

  .col-sm-none{
    display: none;
  }
}

/*------desktop screens------*/
@mixin get_md_col($cols, $col_width, $gut){
  @for $i from 1 through $cols {
    .col-md-#{$i} {
      width: get_column_width($i, $col_width, $gut);
    }
  }

  .col-md-none{
    display: none;
  }
}

/*------Large screens------*/
@mixin get_lg_col($cols, $col_width, $gut){
  @for $i from 1 through $cols {
    .col-lg-#{$i} {
      width: get_column_width($i, $col_width, $gut);
    }
  }

  .col-lg-none{
    display: none;
  }
}