html, #application, #wrapper, .preview{
    height: 100%;
}

.preview {
    background-color: #101518;
    color: #fff;
}

#n-android{
    position: relative;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.n-preview{
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 4em;
    overflow: hidden;
}

.n-preview-img{
    width: 100%;
    padding: 3em 2em 0;
}   

.n-preview-close{
    position: absolute;
    right: 0.7em;
    top: 0.7em;
    font-size: 200%;
}

.n-preview-title{
    font-family: "Open Sans";
    font-weight: 100;
    text-align: center;
    padding: 0 2em;

    .contenteditable{
        font-size: 220%;
        line-height: 137%;
    }
}

.n-preview-footer{
    position: absolute;
    bottom: 0;
    height: 16.4em;
    width: 100%;

    @include vertical-gradient(transparent, rgba(255, 255, 255, 0), #000, 25%);
}

.n-preview-cta{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 4em 2em;

    .button{
        background-color: $bg;
        border-color: $bg;
        color: #000;
        font-size: 130%;
        padding: 1.16em 2.35em;
        height: auto;
        min-width: 0;

        &:hover, &:focus{
            background-color: rgba($bg, 0.9);
            border-color: rgba($bg, 0.9);
        }

        /* one item */
        &:first-child:nth-last-child(1) {
            // width: calc(100% - 2em);
            // margin: 0 1em;
        }

        /* two items */
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ .button {
            width: calc(50% - 2em);
            margin: 0 1em;
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
    html{
        font-size: 10px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px){
    html{
        font-size: 22px;
    }
}

@media only screen{
  
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 321px) and (max-device-width : 736px) and (orientation : landscape) {
  
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) and (orientation : portrait) {
  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width : 1025px) and (max-device-width : 1600px) {

}

/* Large screens ----------- */
@media only screen and (min-device-width : 1601px) {

}
