@font-face {
	font-family: 'mdb';
	src:url('fonts/mdb.eot?yz258w');
	src:url('fonts/mdb.eot?yz258w#iefix') format('embedded-opentype'),
		url('fonts/mdb.woff2?yz258w') format('woff2'),
		url('fonts/mdb.ttf?yz258w') format('truetype'),
		url('fonts/mdb.woff?yz258w') format('woff'),
		url('fonts/mdb.svg?yz258w#mdb') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ae_"], [class*=" ae_"] {
	font-family: 'mdb';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ae_appengage:before {
	content: "\e602";
}
.ae_add:before {
	content: "\e601";
}
.ae_landingpage:before {
	content: "\e60a";
}
.ae_segment:before {
	content: "\e60c";
}
.ae_event:before {
	content: "\e60d";
}
.ae_user_analytics:before {
	content: "\e800";
}
.ae_attribution:before {
	content: "\e801";
}
.ae_settings:before {
	content: "\e614";
}
.ae_configuration:before {
	content: "\e629";
}
.ae_sdk:before {
	content: "\e62a";
}
.ae_star:before {
	content: "\e615";
}
.ae_circularadd:before {
	content: "\e604";
}
.ae_circularminus:before {
	content: "\e620";
}
.ae_segcheck:before {
	content: "\e628";
}
.ae_bigcheck:before {
	content: "\e61c";
}
.ae_cross:before {
	content: "\e605";
}
.ae_fav:before {
	content: "\e607";
}
.ae_hamburger:before {
	content: "\e608";
}
.ae_home:before {
	content: "\e609";
}
.ae_logout:before {
	content: "\e60b";
}
.ae_more:before {
	content: "\e60e";
}
.ae_back:before {
	content: "\e806";
}
.ae_next:before {
	content: "\e60f";
}
.ae_notification:before {
	content: "\e610";
}
.ae_play:before {
	content: "\e611";
}
.ae_push:before {
	content: "\e612";
}
.ae_search:before {
	content: "\e613";
}
.ae_state:before {
	content: "\e616";
}
.ae_stats:before {
	content: "\e617";
}
.ae_survey:before {
	content: "\e618";
}
.ae_user:before {
	content: "\e619";
}
.ae_droid:before {
	content: "\e622";
}
.ae_apple:before {
	content: "\e62b";
}
.ae_menu_dash:before {
	content: "\e627";
}
.ae_segmentation_l:before {
	content: "\e61a";
}
.ae_segmentation_t:before {
	content: "\e61b";
}
.ae_segmentation_s:before {
	content: "\e626";
}
.ae_ab:before {
	content: "\e600";
}
.ae_check:before {
	content: "\e603";
}
.ae_cross_thin:before {
	content: "\e623";
}
.ae_upload:before {
	content: "\e624";
}
.ae_download:before {
	content: "\e606";
}
.ae_great:before {
	content: "\e625";
}
.ae_error:before {
	content: "\e61d";
}
.ae_alert:before {
	content: "\e61e";
}
.ae_info:before {
	content: "\e61f";
}
.ae_trash:before {
	content: "\e621";
}
.ae_calender:before {
	content: "\e62c";
}
.ae_email:before {
	content: "\e802";
}
.ae_geo:before {
	content: "\e803";
}
.ae_last_seen:before {
	content: "\e804";
}
.ae_time:before {
	content: "\e805";
}
.ae_back_thin:before {
	content: "\e807";
}
.ae_next_thin:before {
	content: "\e808";
}

