$button_border_radius: 4px;
$border_radius: 2px;
$universal_padding: 10px;
$universal_margin: 10px;
$base_font: 12px;
$input_ht: 35px;
$button_ht: 30px;

$font_family: #{'"Open Sans",Arial,Helvetica,sans-serif'};

/*----------Grid------------*/

$columns: 12;
$gutter: 0%;

/*----------Grid end------------*/

/*----------Button------------*/

$button_large_ht: $button_ht + 5px;
$button_large_font: $base_font + 2px;
$button_icon_padding_right: 15px;

$button_medium_ht: $button_ht;
$button_medium_font: $base_font + 1px;

$button_small_ht: $button_ht - 5px;
$button_small_font: $base_font;

$button_xsmall_ht: $button_ht - 10px;
$button_xsmall_font: $base_font;

/*----------Button end------------*/

/*----------Typography------------*/

$h1_font: 21px;
$h2_font: 17px;

/*----------Typography end------------*/

/*----------Nav------------*/

$menu_width: 250px;
$menu_item_ht: 40px;
$menu_highlight_ht: 30px;
$menu_item_font: 12px;
$submenu_item_font: 14px;
$menu_app_name_font: 18px;
$menu_footer_ht: 30px;

/*----------Nav end------------*/

/*----------z-index------------*/

$dialog_modal_z: 5000;
$tooltip_modal_z: 4000;
$menu_z: 2000;
$wa_fixed_level1_z: 1800;
$wa_fixed_level2_z: 1600;
$wa_fixed_level3_z: 1400;
$wa_fixed_item_z: 1000;
$wa_items_z: 500;

/*----------z-indez end------------*/

$body_header_ht: 60px;
