html {
	font-size: 62.5%; 
}

body {
	width: 100%;
	height: 100%;
	font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.5;
	font-weight: 400;
	font-family: #{$font_family};
	color: $font_color;
	background-color: $bg;
	background-size: cover;
	margin: 0px;
  	padding: 0px;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*:focus{
  outline: 1px solid rgba(0,0,0,0.1);
}

::-webkit-scrollbar { 
    display: none; 
}

/* –––––––––––––––––––––––– Links –––––––––––––––––––––––––– */

a{
	color: $link_color; 
	text-decoration: none;
}

a:hover, a:visited, a:focus{
	color: $link_color; 
}

/* –––––––––––––––––––––––– Links ends –––––––––––––––––––––––––– */

/* –––––––––––––––––––––––– Images –––––––––––––––––––––––––– */

img{
    max-width: 100%;
}

/* –––––––––––––––––––––––– Images ends –––––––––––––––––––––––––– */

