@mixin transition($property, $duration, $effect) {
    -webkit-transition: $property $duration $effect;
    -moz-transition:    $property $duration $effect;
    -o-transition:      $property $duration $effect;
    transition:         $property $duration $effect;
}

@mixin transform($value){
    -webkit-transform: $value;
    -moz-transform:    $value;
    -ms-transform:     $value;
    -o-transform:      $value;
    transform:         $value;
}

@mixin enhanceAnimations() {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  // stoping flickering on chrome
  // -webkit-transform-style: preserve-3d;
  // -webkit-perspective: 1000;
  // -webkit-backface-visibility: hidden;
}

@mixin box-shadow($value){
    -moz-box-shadow: $value;
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// hack to remove scrollbars from chrome and IE
@mixin hideScroll(){
  -ms-overflow-style: none;
  &::-webkit-scrollbar { width: 0 !important }
}

// Sidebar Widget / Full width container mixin
@mixin contentWidth($container-width) {
  width: $container-width;
}