.hide-this-component{
    display: none;
}

.show-component-block{
    display: block;
}

.full-width{
    width: 100%;
}

.no-padding{
    padding: 0 !important;
}

.no-top-padding{
    padding-top: 0 !important;
}

.no-right-padding{
    padding-right: 0 !important;
}

.no-bottom-padding{
    padding-bottom: 0 !important;
}

.no-left-padding{
    padding-left: 0 !important;
}

.no-top-bottom-padding{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-left-right-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.center-the-content{
    text-align: center;
}

.invisible{
    visibility: hidden;
}

.required:after{
    content: '*';
    color: $error_color;
}

.clear{
    clear: both;
}

.pull-right{
    float: right;
}

.pull-left{
    float: left;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: $wa_fixed_item_z;
    height: 100%;
    width: 100%;
    background-color: $overlayColor;
}

.disable-link, .disabled{
    color: $light_inactive_color !important;
    cursor: not-allowed !important;

    &:hover, &:visited, &:focus{
        color: $light_inactive_color !important;
    }
}