h1, h2, h3, h4, h5, h6, p{
  font-weight: normal;
  clear: both;
  line-height: 1.5;
  font-family: $font_family;
}

h1, .h1{
  font-size: 21px;
}

h2, .h2{
  font-size: 18px;
}

h3, .h3{
  font-size: 15px;
}

h4, .h4{
  font-size: 12px;
}

h5, .h5{
  font-size: 12px;
}

h6, .h6{
  font-size: 12px;
}

p{
  font-size: $base_font;
  margin: 0; 
}

label{
  font-size: $base_font;
}

hr{
  margin: $universal_margin*2 0 0;
  border: 1px dashed transparent; 
  border-top: 1px dashed $separator; 
}

b{
    font-weight: 600;
}

ul {
  //margin: 1em;
  list-style: none;
}

ol {
  margin: $universal_margin $universal_margin $universal_margin 4*$universal_margin;
  list-style-type: decimal;
  ol {
    margin: 0 4*$universal_margin;
    list-style:lower-alpha;
    ol {
      list-style:lower-roman;
      ol {
        list-style:circle;
      }
    }
  }
}

ul ul, ul ol, ol ul {
  margin-bottom:0;
}

dl  {
  margin:0 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1.5em;
}

strong {
  font-weight: bold;
}

cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 3em;
}

blockquote em, blockquote i, blockquote cite {
  font-style: normal;
}

pre {
  font: 11px $font_family, monospace;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

pre > code{
  display: inline-block;
  padding: 1rem 1.5rem;
  white-space: pre;
  background-color: #eee;
}

code{
  white-space: nowrap;
  font-size: $base_font;
  font-family: 'Source Code Pro';

  span{
      margin-left: 2*$universal_margin;
      font-family: 'Source Code Pro';
  }
}

abbr, acronym {
  border-bottom: 1px dotted $border_color;
  cursor: help;
}

ins {
  text-decoration: none;
}

sup,
sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  position: relative;

}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid $border_color; 
}

th:first-child, td:first-child {
  padding-left: 0; 
}

th:last-child, td:last-child{
  padding-right: 0; 
}

@media only screen{
  
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    ol {
        margin: $universal_margin 1.5*$universal_margin;
        ol {
            margin: 0 1.5*$universal_margin;
        }
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 321px) and (max-device-width : 736px) and (orientation : landscape) {
  
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) and (orientation : portrait) {
  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width : 1025px) and (max-device-width : 1600px) {
  
}

/* Large screens ----------- */
@media only screen and (min-device-width : 1601px) {
  
}
