//--------------------General----------------------
[aria-hidden="true"] { 
    display: none !important;
}
//--------------------General ends----------------------

//--------------------Instructions----------------------
.instructions {
    font-size: $base_font + 2;

    p{
        font-size: $base_font + 2;
        line-height: 2;
    }

    a, a:hover, a:visited, a:focus{
        color: $primary_btn_bg;
        word-break: break-all;
    }
}
//--------------------Instructions ends----------------------

//--------------------Page Heading & Body----------------------
.page-header{
    border-bottom: 1px solid $basic;
    padding: 0 $universal_padding*2;
    height: 80px;
}

.page-title{
    background-color: $bg;
    height: 40px;
    padding: 7px $universal_padding*2;
    @include box-shadow(0 3px 4px 0 rgba(0,0,0,.04));

    &.fixed-title{
        position: fixed;
        top: 40px;
        z-index: $wa_fixed_item_z;
        width: calc(100% - 250px);
        left: 250px;
        @include transition(all, 0.5s, ease);

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &.small-title{
        h2{
            width: 150px;
            display: inline-block;
        }

        .download-btn{
            display: inline-block;
            position: relative;
            float: right;
            padding: 0;
            top: -3px;
        }

        &~.page-body{
            position: relative;
            top: 40px;
            padding-top: 30px;
        }
    }

    .date-range-picker{
        display: inline-block;
        width: auto;
        position: relative;
        top: -10px;
        margin: 0;
    }
}

.page-header-inner{
    height: 80px;
    vertical-align: middle;
    display: table-cell;
    width: 100%;

    h1, h2{
        display: inline-block;
    }
}

.page-body{
    padding: $universal_padding*2;
}

.page-body-header, .page-footer-header{
    h1, h2, p{
        display: inline-block;
    }
}

.page-body-header-icon{
    font-size: 40px;
    vertical-align: -12px;

    i{
        color: $tab_bg;
        transition: color 0.5s ease-in-out;
    }
}

.page-footer{
    border-top: 1px solid $basic;
    padding: $universal_padding*2;
}

//--------------------Page Heading & Body ends----------------------

//--------------------Variant Section----------------------

section, .section{
    padding: $universal_padding 0;
}

//--------------------Variant Section ends----------------------

//--------------------Collapsible Section----------------------
.collapsible-section{
    margin-bottom: 1px;
    padding: 0;

    &.collapse .collapsible-section-content{
        height: 0;
        min-height: 0;
        overflow: hidden;
        padding-bottom: 0;
        transition: min-height 0.5s ease, height 0.5s ease;
    }
}

.collapsible-section-header{
    background-color: $bg;
    height: 40px;
    position: relative;
    cursor: no-drop;
}

.clickable .collapsible-section-header{
    cursor: pointer;
}

.collapsible-section-header-icon{
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 5px;
    color: $add_icon_color;
    display: none;
}

.validated .collapsible-section-header-icon{
    display: block;

    &~.collapsible-section-header-title{
        left: 20px;
    }
}

.collapsible-section-header-txt{
    position: absolute;
    line-height: 40px;
    padding: 0 $universal_padding*2;
}

.collapsible-section-header-title{
    left: 0px;
}

.collapsible-section-header-subtitle{
    right: 0px;
    color: $collapsible_section_color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    text-align: right;
}

.collapsible-section-content{
    display: block;
    position: relative;
    top: 20px;
    padding: $universal_padding*2;
    padding-top: 0;
    height: auto;
    min-height: 100px;
    transition: min-height 0.5s ease, height 0.5s ease;
}

.collapsible-section-action{
    text-align: center;
}
//--------------------Collapsible Section ends----------------------

//--------------------Add More----------------------
.add-more{
    margin-bottom: 1px;
    padding: 0;

    &.collapse .collapsible-section-content{
        display: none;
    }
}

.add-more-header{
    background-color: $bg;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.add-more-header-icon{
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 3px;
    &.add-icon{
        color: $add_icon_color;
    }
    &.delete-icon{
        color: $delete_icon_color;
    }
    i{
        font-size: 17px;
        position: absolute;
        right: 10px;
        top: 9px;
        cursor: pointer;
    }
}

.add-more-header-txt{
    position: absolute;
    line-height: 40px;
    padding: 0 $universal_padding*2;
}

.add-more-content{
    padding: $universal_padding*2;
    display: none;

    &>div{
        position: relative;
    }

    .delete-content{
        color: $delete_icon_color;
        font-size: 16px;
        position: absolute;
        right: 0;
        top: 30px;
        margin-right: 20px;
    }
}

.has-content .add-more-content{
    display: block;
}

.add-more-action{
    text-align: center;
}
//--------------------Add More ends----------------------

.file-uploader-msg{
    height: 35px;
    line-height: 35px;
}


@media only screen{
  
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 321px) and (max-device-width : 736px) and (orientation : landscape) {
  
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 480px) and (orientation : portrait) {
  
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width : 1025px) and (max-device-width : 1600px) {
  
}

/* Large screens ----------- */
@media only screen and (min-device-width : 1601px) {
  
}






