/* Set default  styles */
@import 'forms/forms_functions';

/* Set default  styles */
@import 'forms/forms_mixins';

/* –––––––––––––––––––––––––– Forms –––––––––––––––––––––––– */

input{
  vertical-align: middle;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea,
select{
  font-size: $base_font;
  height: $input_ht;
  padding: 0 $universal_padding;
  color: $input_element_color;
  background-color: $input_element_bg;
  border: 1px solid $input_element_border;
  border-radius: $border_radius;
  box-shadow: none;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
}

textarea {
  min-height: 80px;
  padding: $universal_padding;
  resize: none;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus{
  border: 1px solid $input_element_focus_border;
  outline: 0; 
}

label,
legend {
  padding: $universal_padding;
  margin: 0;
  font-weight: normal; 
}

fieldset {
  padding: 0;
  border-width: 0; 
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; 
  margin: 0;
}

input[disabled="disabled"], textarea[disabled="disabled"],
input[disabled="true"], textarea[disabled="true"] {
    background-color: #EDEDED;
    cursor: not-allowed;
}

/* Set default  styles */
@import 'forms/select';

/* Set default  styles */
@import 'forms/forms_extend';