.vertical-form label, label.vertical-form{
	display: block;
	padding: $universal_padding 0;
}

.horizontal-form label, label.horizontal-form{
	display: inline;
}

label > .label-body {
	display: inline-block;
	margin: 0 0 0 $universal_margin;
	font-weight: normal; 
}

input.input-small,
input[type="email"].input-small,
input[type="number"].input-small,
input[type="search"].input-small,
input[type="text"].input-small,
input[type="tel"].input-small,
input[type="url"].input-small,
input[type="password"].input-small{
    height: 20px;
    line-height: 20px;
}

input.input-medium,
input[type="email"].input-medium,
input[type="number"].input-medium,
input[type="search"].input-medium,
input[type="text"].input-medium,
input[type="tel"].input-medium,
input[type="url"].input-medium,
input[type="password"].input-medium{
    height: 25px;
    line-height: 25px;
}

.textarea-with-counter .counter{
	text-align: right;
	font-size: $base_font;
	color: $collapsible-section-color;
}

input[type="email"].error,
input[type="number"].error,
input[type="search"].error,
input[type="text"].error,
input[type="tel"].error,
input[type="url"].error,
input[type="password"].error,
textarea.error,
select.error{
	border-color: $error_color;
}

input[type="email"].error,
input[type="number"].error,
input[type="search"].error,
input[type="text"].error,
input[type="tel"].error,
input[type="url"].error,
input[type="password"].error,
textarea.error,
select.error{
	border-color: $error_color;
}

input[type="email"].success,
input[type="number"].success,
input[type="search"].success,
input[type="text"].success,
input[type="tel"].success,
input[type="url"].success,
input[type="password"].success,
textarea.success,
select.success{
	border-color: $success_color;
}

.radio-with-img{
	display: inline-block;
	cursor: pointer;

	.radio-img{
		width: 90px;
		display: block;
	}

	.radio-label{
		display: inline-block;
		width: 90px;
		text-align: center;
	}

    &.radio-selected{

    }
}

/* -----  AutoComplete styles starts --- */

.autocomplete{
	position: relative;
	display: inline-block;
    width: 130px;

    .autocomplete-inner{
        position: relative;
        display: flex;
    }

	.autocomplete-component{
		width: 100%;
        min-width: 20px;
		background-color: $input_element_bg;
	 	color: $input_element_color;
		border: none;
		height: $input_ht;
		line-height: $input_ht - 5px;
		font-size: $base_font;
		border-radius: $border_radius;
		padding: 0px;
		text-align: left;
		position: relative;
		
		&.error{
			border-color: $error_color;
		}

		.autocomplete-text{
			margin: 0;
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			padding-right: 30px;			
		}

		.autocomplete-icon{
			margin: 0;
			position: absolute;
			right: 0px;
			top: 3px;
			padding: 0px $universal_padding;
			cursor: pointer;
		}
	}

    .autocomplete-menu-cap{
        display: inline-block;
        border: 6px solid $input_element_focus_border;
        position: absolute;
        left: 10px;
        top: $input_ht + 10px;
        border-bottom-color: transparent;
        border-right-color: transparent;
        z-index: $wa_items_z + 2;
        transform: rotate(45deg);

        &:before {
            border: 5px solid #fff;
            content: '';
            position: absolute;
            height: 5px;
            width: 0;
            top: -5px;
            left: -5px;
            border-bottom-color: transparent;
            border-right-color: transparent;
        }
    }

	.autocomplete-menu{
		//display: none;
		width: auto;
        min-width: 100%;
        max-height: 139px;
		position: absolute;
		top: $input_ht - 1px + 16px;
        left: 0;
		background-color: $input_element_bg;
		margin: 0;
		border: 1px solid $input_element_focus_border;
		z-index: $wa_items_z + 1;
        overflow-y: scroll;
	}

    .autocomplete-text{
        width: 100%;
    }

	.autocomplete-option{
		height: $input_ht - 5px;
		line-height: $input_ht - 5px;
		padding: 0 $universal_padding;
		font-size: $base_font;
		border-bottom: 1px solid rgba($input_element_focus_border, 0.5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;

		&.autocompleteed{
			background-color: $select_active_bg;
            color: #fff;
		}

		&:hover{
			background-color: $select_active_bg;
            color: #fff;
		}

		&:last-child{
			border-bottom: none;
		}
	}
}

.autocomplete.autocomplete-small{
    height: 20px;

    .autocomplete-inner{
        height: 20px;
    }
    .autocomplete-component{
        height: 20px;
        line-height: 17px;

        .autocomplete-icon{
            top: 2px;
        }
    }
    .autocomplete-menu-cap{
        top: $input_ht - 10px;
    }
    .autocomplete-menu{
        top: 19px + 11px;
        left: 0px;
    }
    .autocomplete-text{
        height: 20px;
    }
}

.autocomplete.autocomplete-medium{
    height: 25px;

    .autocomplete-inner{
        height: 25px;
    }
    .autocomplete-component{
        height: 25px;
        line-height: 23px;

        .autocomplete-icon{
            top: 0;
        }
    }
    .autocomplete-menu-cap{
        top: $input_ht - 5px;
    }
    .autocomplete-menu{
        top: 24px + 11px;
        left: 0px;
    }
    .autocomplete-text{
        height: 25px;
    }
}

/* -----  AutoComplete styles ends --- */

/* -----  Tags-Input styles starts --- */

.tagsinput {
    margin: 0;
    border: 1px solid $input_border;
    background-color: $bg;
    padding: 0;
    min-width: 250px;
    height: 35px;
    overflow-y: auto;
    position: relative;
    // overflow-x: auto;
    // overflow-y: hidden;
    // white-space: nowrap;

    .tag {
        height: 25px;
        line-height: 23px;
        padding: 0 0px 0 10px;
        margin: 4px 5px;
        position: relative;
        background-color: #d3d3d3;
        color: #000;
        float: left;
        // display: inline-block;
    }

    .tag-close {
        cursor: pointer;
        font-size: 10px;
        position: relative;
        top: 3px;
        padding: 2px 5px;
    }

    input[type="email"].tagsinput-input,
    input[type="number"].tagsinput-input,
    input[type="search"].tagsinput-input,
    input[type="text"].tagsinput-input,
    input[type="tel"].tagsinput-input,
    input[type="url"].tagsinput-input,
    input[type="password"].tagsinput-input,
    input[type="date"].tagsinput-input,
    input[type="time"].tagsinput-input {
        height: 25px;
        width: 100px;
        border: 1px solid transparent !important;
        padding: 1px 5px;
        background: transparent;
        color: #000;
        margin: 4px 5px 0 0;
        position: relative;
        float: left;
        // display: inline-block;
    }
}

.tags_clear {
    clear: both;
    width: 100%;
    height: 0px;
}

.not_valid {
    background: #FBD8DB !important;
    color: #90111A !important;
    transition: background 1s ease;
}

.tagsinput.tagsinput-small{
    height: 20px;

    .tag {
        height: 16px;
        line-height: 16px;
        margin: 1px 2px;
    }

    .tag-close {
        cursor: pointer;
        font-size: 10px;
        position: relative;
        top: 3px;
        padding: 2px 5px;
    }

    input[type="email"].tagsinput-input,
    input[type="number"].tagsinput-input,
    input[type="search"].tagsinput-input,
    input[type="text"].tagsinput-input,
    input[type="tel"].tagsinput-input,
    input[type="url"].tagsinput-input,
    input[type="password"].tagsinput-input,
    input[type="date"].tagsinput-input,
    input[type="time"].tagsinput-input {
        height: 20px;
        margin: 0 5px 0 0;
    }
}

.tagsinput.tagsinput-medium{
    height: 25px;
    line-height: 23px;

    .tag {
        height: 21px;
        line-height: 21px;
        // height: 18px;
        // line-height: 18px;
        margin: 1px 2px;
    }

    .tag-close {
        cursor: pointer;
        font-size: 10px;
        position: relative;
        top: 3px;
        padding: 2px 5px;
    }

    input[type="email"].tagsinput-input,
    input[type="number"].tagsinput-input,
    input[type="search"].tagsinput-input,
    input[type="text"].tagsinput-input,
    input[type="tel"].tagsinput-input,
    input[type="url"].tagsinput-input,
    input[type="password"].tagsinput-input,
    input[type="date"].tagsinput-input,
    input[type="time"].tagsinput-input {
        height: 23px;
        margin: 0 5px 0 0;
    }
}


/* -----  Tags-Input styles ends --- */

/* -----  Tags-Select styles --- */

.tagsselect{

    .tag{
        margin-left: $universal_margin;
        font-size: 13px;
        padding: 8px $universal_padding;
        position: relative;
        float: left;

        &:nth-of-type(1){
            background-color: $variant1_color;
        }

        &:nth-of-type(2){
            background-color: $variant2_color;
        }

        &:nth-of-type(3){
            background-color: $variant3_color;
        }

        &:nth-of-type(4){
            background-color: $variant4_color;
        }

        &:nth-of-type(5){
            background-color: $variant5_color;
        }
    }

    &.single-tag-select{
        .tag{
            background-color: #5C718F;
        }
    }

    .filterBox{
        display: inline-block;
        margin-left: 10px;
        float: left;
    }
}

/* -----  Tags-Select styles ends --- */

/* -----  AEDateInput styles  --- */

.ae-date-input.xdsoft_datetimepicker{

    .xdsoft_calendar td.xdsoft_default, .xdsoft_calendar td.xdsoft_current, .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current {
        background: $menu_selected_bg;
    }

    .xdsoft_calendar td:hover, .xdsoft_timepicker .xdsoft_time_box >div >div:hover {
        background: $menu_item_bg !important;
    }

    td.xdsoft_disabled:hover{
        background: $bg !important;
    }

}


/* -----  AEDateInput styles ends --- */