.select{
    position: relative;
    display: inline-block;
    width: 130px;

    &.multiselect{
        .selected-item-icon{
            font-size: 14px;
            position: relative;
            top: 1px;
            margin-right: 10px;
        }
    }

    .select-inner{
        position: relative;
        display: flex;
    }

    .select-btn{
        width: 100%;
        min-width: 20px;
        background-color: $input_element_bg;
        color: $input_element_color;
        border: 1px solid $input_element_border;
        height: $input_ht;
        line-height: $input_ht - 5px;
        font-size: $base_font;
        border-radius: $border_radius;
        padding: 0px;
        text-align: left;
        position: relative;

        &:active{
            animation: none;
        }
        
        &.error{
            border-color: $error_color;
        }

        .select-text{
            margin: 0 $universal_padding*3 0 $universal_padding;
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .select-icon{
            margin: 0 $universal_padding;
            position: absolute;
            right: 0px;
            top: 3px;
        }
    }

    .select-menu-cap{
        display: inline-block;
        border: 6px solid $input_element_focus_border;
        position: absolute;
        left: 10px;
        top: $input_ht + 10px;
        border-bottom-color: transparent;
        border-right-color: transparent;
        z-index: $wa_items_z + 2;
        transform: rotate(45deg);

        &:before {
            border: 5px solid #fff;
            content: '';
            position: absolute;
            height: 5px;
            width: 0;
            top: -5px;
            left: -5px;
            border-bottom-color: transparent;
            border-right-color: transparent;
        }
    }

    .select-menu{
        //display: none;
        width: auto;
        min-width: 100%;
        max-height: 139px;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        top: $input_ht - 1px + 16px;
        left: 0;
        background-color: $input_element_bg;
        margin: 0;
        border: 1px solid $input_element_focus_border;
        z-index: $wa_items_z + 1;
    }

    .select-option{
        height: $input_ht - 5px;
        line-height: $input_ht - 5px;
        padding: 0 3*$universal_padding 0 $universal_padding;
        font-size: $base_font;
        border-bottom: 1px solid rgba($input_element_focus_border, 0.5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;

        &.selected{
            background-color: $select_active_bg;
            color: #fff;
        }

        &:hover{
            background-color: $select_active_bg;
            color: #fff;
        }

        &:last-child{
            border-bottom: none;
        }
    }

    .test-width{
        visibility: hidden;
        display: block !important;
    }
}

.select.select-small{
    height: 20px;

    .select-inner{
        height: 20px;
    }
    .select-btn{
        height: 20px;
        line-height: 17px;

        .select-icon{
            top: 0;
        }
    }
    .select-menu-cap{
        top: $input_ht - 10px;
    }
    .select-menu{
        top: 19px + 11px;
        left: 0px;
    }
}

.select.select-medium{
    height: 25px;

    .select-inner{
        height: 25px;
    }
    .select-btn{
        height: 25px;
        line-height: 23px;
        //width: 55px;

        .select-icon{
            top: 0;
        }
    }
    .select-menu-cap{
        top: $input_ht - 5px;
    }
    .select-menu{
        top: 24px + 11px;
        left: 0px;
        width: auto;
    }
}

.select.select-primary {
  .select-btn {
    background-color: $select_element_primary_bg;
    border-color: $select_element_primary_bg;
    color: $link_color;
  }
}

.select.select-secondary {
  .select-btn {
    background-color: $select_element_secondary_bg;
    border-color: $select_element_secondary_bg;
    color: $link_color;
  }
}